@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

body { 
	font-family: Outfit;
	position: relative;
	height: 100vh;
	overflow: hidden;
	background-color: #d5e1ef;
}

.qr-container {
	height: max-content;
	width: 275px;
	background-color: white;
	padding: 16px;
	border-radius: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.qr-container > * {
	margin-bottom: 20px;
	text-align: center;
}

.image-container {
	width: 100%;
}

.image-container > img {
	width: 100%;
	border-radius: 8px;
}

.qr-heading {
	color: hsl(218, 44%, 22%);
	font-size: 24px;
	font-weight: 700;
}

.qr-subheading {
	font-size: 15px;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
}
